<div id="services" class="services">
  <!---728x90--->
  <h3 class="agileits-title">Nasze usługi</h3>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-comunication"></div>
    <div class="col-md-7 services-text">
      <h4 class="w3agile-sbtitle">Ubezpieczenia komunikacyjne:</h4>
      <ul>
        <p>Ubezpieczenie odpowiedzialności cywilnej posiadacza pojazdu (OC)
          Ubezpieczenie pojazdów od uszkodzeń (AC) i kradzieży (KR)
          Ubezpieczenie następstw nieszczęśliwych wypadków kierowcy i przewożonych pasażerów
          Ubezpieczenia pomocy medycznej i technicznej na pojazdy samochodowe</p>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-right services-image-property">
    </div>
    <div class="col-md-7 services-right services-text services-text-light">
      <h4 class="w3agile-sbtitle">Ubezpieczenia mienia:</h4>

      <p>Indywidualne:

        o Ubezpieczenie budynków i lokali mieszkalnych

        o Ubezpieczenie domków letniskowych

        o Ubezpieczenie domów w budowie

        o Ubezpieczenie mienia od ognia i innych zdarzeń</p>
    </div>
    <div class="clearfix"></div>
  </div>


  <div class="services-row">
    <div class="col-md-5 services-image services-image-cargo"></div>
    <div class="col-md-7 services-text">
      <h4 class="w3agile-sbtitle">Ubezpieczenia transportowe (cargo):</h4>

      <p>Ubezpieczenie mienia w transporcie krajowym

         Ubezpieczenie ładunków w transporcie międzynarodowym</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-right services-image-injuries">

    </div>
    <div class="col-md-7 services-text services-text-light">
      <h4 class="w3agile-sbtitle"> Ubezpieczenia osób od następstw nieszczęśliwych wypadków:</h4>

      <p>Indywidualne

         Ubezpieczenie dzieci, uczniów, studentów oraz personelu szkół, uczelni  i innych

        placówek oświatowo-wychowawczych

         Zbiorowe ubezpieczenie uczestników wycieczek, obozów sportowych i innych

        wyjazdów grupowych</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-liability"></div>
    <div class="col-md-7 services-text">
      <h4 class="w3agile-sbtitle">Ubezpieczenia odpowiedzialności cywilnej:</h4>

      <p>Odpowiedzialności cywilnej z tytułu wykonywania działalności różnych zawodów,

         Odpowiedzialność cywilna w życiu prywatnym

         Odpowiedzialności cywilnej osób wykonujących zawód medyczny,</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-right services-image-agriculture"></div>
    <div class="col-md-7 services-text services-text-light">
      <h4 class="w3agile-sbtitle">Ubezpieczenia rolne:</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed velit fermentum lobortis, eget
        placerat mauris sed lectus tellus Fusce eu semper lacus, sodales id elit a, feugiat porttitor nulla. Sed porta
        magna vitae nisl vulputate lacinia lorem ipsum dolor sit amet.</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-tourist"></div>
    <div class="col-md-7 services-text">
      <h4 class="w3agile-sbtitle">Ubezpieczenia turystyczne:</h4>

      <p>Obowiązkowa odpowiedzialność cywilna rolników z tytułu posiadania gospodarstwa

        rolnego.

        - Obowiązkowe ubezpieczenie budynków rolnych wchodzących w skład gospodarstwa

        rolnego</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-right services-image-life"></div>
    <div class="col-md-7 services-text services-text-light">
      <h4 class="w3agile-sbtitle">Ubezpieczenia na życie:</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed velit fermentum lobortis, eget
        placerat mauris sed lectus tellus Fusce eu semper lacus, sodales id elit a, feugiat porttitor nulla. Sed porta
        magna vitae nisl vulputate lacinia lorem ipsum dolor sit amet.</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>