<div class="contact_page">
  <div class="container">
    <h3 class="head">Contact</h3>
    <div class="col-md-8">
      <form class="contact-form-form">
        <div class="form-group contact-form">
          <h4>Name</h4>
          <input class="form-control form-form" type="text" name="Name" placeholder="" required="">
        </div>
        <div class="form-group contact-form">
          <h4>Website</h4>
          <input class="form-control form-form" type="text" name="Website" placeholder="" required="">
        </div>
        <div class="form-group contact-form">
          <h4>Email</h4>
          <input class="form-control form-form" type="email" name="Email" placeholder="" required="">
        </div>
        <div class="form-group contact-form">
          <h4>Subject</h4>
          <input class="form-control form-form" type="text" name="Subject" placeholder="" required="">
        </div>
        <div class="form-group contact-form">
          <h4>Message</h4>
          <textarea class="form-control form-form" name="Message" placeholder="" required=""> </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

    <div class="col-md-4 contact-grids">
      <div class=" contact-grid">
        <div class="contact-grid1">
          <div class="contact-grid2 ">
            <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
          </div>
          <div class="contact-grid3">
            <h4>Adres</h4>
            <p>12K Street, 45 Building Road <span>New York City.</span></p>
          </div>
        </div>
      </div>
      <div class="contact-grid">
        <div class="contact-grid1">
          <div class="contact-grid2">
            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
          </div>
          <div class="contact-grid3">
            <h4>Telefon</h4>
            <p>+12 647 49 37<span>515 386 831</span><span>509 788 642</span></p>
          </div>
        </div>
      </div>
      <div class="contact-grid">
        <div class="contact-grid1">
          <div class="contact-grid2">
            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
          </div>
          <div class="contact-grid3">
            <h4>Email</h4>
            <p><a href="mailto:info@example.com">mbupolisa.piastow@op.pl</a></p>
          </div>
        </div>
      </div>
      <div class="contact-grid">
        <div class="contact-grid1">
          <div class="contact-grid2">
            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
          </div>
          <div class="contact-grid3">
            <h4>Godziny otwarcia</h4>
            <p><a href="mailto:info@example.com">Poniedziałek-Piątek 9:00-19:00</a><span>Sobota 10:00-14:00</span></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

