<div class="footer">
  <div class="container">
    <div class="agileinfo_footer_grids">
      <div class="col-md-4 agileinfo_footer_grid">
        <h2><a href="index.html">Ubezpieczenia</a></h2>
        <p>Jesteśmy Agencją ubezpieczeniową działającą od 1999r. Nasza agencja ubezpieczeniowa specjalizuje się w dobieraniu najkorzystniejszych ubezpieczeń, zarówno dla klientów indywidualnych jak i firm.</p>
      </div>
      <div class="col-md-4 agileinfo_footer_grid">
        <h3>Kontakt</h3>
        <ul class="agileinfo_footer_grid_list">
          <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Piastów, <span>Kraków.</span></li>
          <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">mbupolisa.piastow@op.pl</a></li>
          <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+12 647 49 37</li>
        </ul>
      </div>
      <div class="col-md-4 agileinfo_footer_grid">
        <h3>Nawigacja</h3>
        <ul class="agileinfo_footer_grid_nav">
          <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="">Strona główna</a></li>
          <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="oferta">Oferta</a></li>
          <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="kalkulator">Kalkulator</a></li>
          <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="do_pobrania">Do pobrania</a></li>
          <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="contact">Kontakt</a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3agile_footer_copy">
      <p>© 2016 Ubezpieczenia. All rights reserved | Design by Paula Grzesiak</p>
    </div>
  </div>
</div>
